{% extends 'web/layout.html' %} {% block content %}
<div class="row">
    <div class="col-6 p-3 border">
        <h2 class="text-center">Entrada</h2>
        <div class="form-floating">
            <textarea class="form-control" id="entrada" name="entrada" style="height: 55vh" readonly>
            {{ input }}
            </textarea>
        </div>
    </div>
    <div class="col-6 p-3 border">
        <h2 class="text-center">Salida</h2>
        <div class="form-floating">
            <textarea class="form-control" name="salida" style="height: 55vh" readonly>
                {{ output }}
            </textarea>
        </div>
    </div>
</div>
<div class="row p-3">
    <form method="POST" enctype="multipart/form-data" class="row p-2">
        <!--, también conocido como "session riding" (montado de sesiones) es un exploit de seguridad en sitios Web.-->
        {% csrf_token %}
        <div class="col-8">
            <input type="file" id="documento" name="documento" class="form-control" />
        </div>
        <div class="col-2 d-grid">
            <input type="submit" value="Enviar" class="btn-sm btn-primary" />
        </div>
        <div class="col-2 d-grid">
            <a href="{% url 'Home' %}" style="text-align:center" class="btn-sm btn-danger">Reiniciar</a>
        </div>
    </form>
</div>
{% load static %}
<script src="{% static 'web/index.js' %}"></script>
{% endblock content %}